@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 기본색 */
    color: #3f311e;
    background-color: #f7f3ed;
}


/* top_banner */
#top_banner {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #63543d;
}

.swiper_top {
    margin: 0 auto;
    height: 35px;
    font-family: "century-gothic", sans-serif;
    font-size: 15px;
    color: #edd896;
    text-align: center;
}

.swiper_top .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* header */
header {
    z-index: 99;
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    background-color: #474d36;
}

.header_inner {
    /* logo */
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.logo {
    margin: 0 auto;
}

.gnb {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    display: flex;
    width: 420px;
    justify-content: space-between;
    font-family: "century-gothic", sans-serif;
    color: #edd896;
    font-size: 15px;
    font-weight: bold;
}

.hb {
    display: none;
}

/*햄버거 버튼모양*/
.slide-open {
    position: fixed;
    top: 65px;
    left: 30px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 99;
}

.burgur {
    left: 20px;
    top: 25px;
    position: fixed;
    width: 20px;
    height: 2px;
    background: #c9c5ba;
}

.burgur .top-line {
    width: 20px;
    height: 2px;
    background-color: #c9c5ba;
    bottom: -5px;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;

}

.burgur .bot-line {
    width: 20px;
    height: 2px;
    background-color: #c9c5ba;
    top: -5px;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.burgur.on {
    width: 0;
}

.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}

/*메뉴부분 모양*/
.slide {
    /* 메뉴 위 여백 */
    padding-top: 130px;
    width: 50%;
    /*이 너비에 따라 보이는 부분이 변화함*/
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    background-color: #939580;
}

.slide-title {
    width: 100%;
    height: 100px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.slide.on {
    left: 0;
}

.slide ul li {
    display: inline-block;
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "century-gothic", sans-serif;
    color: #474d36;
    font-weight: bold;
    /* 서브 메뉴 이름 밑줄 */
    /*     border-bottom: 1px solid #e1e1e1;
 */
}



/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    .logo {
        margin-left: 50px;
    }

    .logo img {
        height: 30px;
    }

    .gnb {
        position: static;
        transform: translateY(0);
        padding-right: 50px;
    }

    .hb {
        display: none;
    }
}

/*태블릿 끝 */


@media (max-width:749px) {
    .logo img {
        height: 30px;
    }

    .gnb {
        display: none;
    }

    .hb {
        display: block;
    }
}

/*모바일 끝 */


/* main_banner */
#main_banner {
    margin-top: 94px;
    width: 100%;
}

.mb {
    height: calc(100vh - 94px);
}

.mb_1 {
    /* contents */
    position: relative;
    background: url(../images/mb1.jpg) no-repeat 10% center;
    background-size: cover;
}

.mb_1 .contents {
    position: absolute;
    top: 15%;
    right: 18%;
    text-align: center;
}

.mb_1::after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/mb1_bg.jpg) no-repeat right top;
    background-size: 70vw 100%;
}

/* rgba(147, 149, 128, 0.5) */


.mb_1 .contents li:nth-child(2) {
    font-family: "century-gothic", "Noto Sans KR";
    font-size: 26px;
    padding: 10px 0;
}

.mb_1 .contents li:nth-child(3) {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

.mb_1 .contents li:nth-child(4) a {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #63543d;
    border: 2px solid #63543d;
    margin-top: 30px;
    padding: 10px 80px;
}

.mb_2 {
    /* contents */
    position: relative;
    background: url(../images/mb2.jpg) no-repeat 65% center;
    background-size: cover;
}

.mb_2 .contents {
    position: absolute;
    top: 120px;
    right: 0;
    width: 755px;
    height: 255px;
    background-color: #806521;
}

.mb_2 .contents {
    display: flex;
    align-items: center;
}

.mb_2 .contents .wrapper {
    padding-left: 8%;
}


.mb_2 .contents h1 {
    font-size: 30px;
    font-family: "century-gothic", "Noto Sans KR";
    color: #edd896;
    font-weight: normal;
    font-style: italic;
    padding-bottom: 25px;
}

.mb_2 .contents p {
    /* 밑줄 */
    position: relative;
    font-size: 16px;
    color: #f7f3ed;
    margin-bottom: 5px;
}

.mb_2 .contents p::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: " ";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #f7f3ed;
}

.break {
    display: none;
}

/*불릿모양. swiper-pagination-bullet-active 클래스가 현재 색상이 들어간 부분 나타냄*/
.mb .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 4px;
    background-color: #806521;
}



/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    .mb_1 .contents {
        right: 5%;
    }

    .mb_2 .contents {
        width: 600px;
    }
}

/*태블릿 끝 */


@media (max-width:749px) {
    .mb_1 .contents {
        width: 100%;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        word-break: keep-all;
    }

    .mb_1 .contents li:nth-child(3) {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 500;
        padding: 0 10px;
    }

    .mb_1::after {
        background: rgb(147, 149, 128);
    }

    .mb_2 .contents {
        width: 60%;
        top: 50px;
        height: 280px;
        text-align: right;
        justify-content: right;

    }

    .mb_2 .contents .wrapper {
        width: 100%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    .mb_2 .contents h1 {
        font-size: 25px;
        font-family: "century-gothic", "Noto Sans KR";
        color: #edd896;
        font-weight: normal;
        font-style: italic;
        padding-bottom: 30px;
        line-height: 1.3;
    }

    .break {
        display: block;
    }

    .mb_2 .contents p {
        font-size: 15px;
        word-break: keep-all;
    }

    .mb_2 .contents p:last-child {
        display: inline-block;
    }

    .mb_2 .contents p::after {
        display: none;
    }

}

/*모바일 끝 */

/* ethics */

#ethics {
    margin-top: 100px;
}

.ethics_inner {
    max-width: 1320px;
    margin: 0 auto;
}

#ethics .tabs {
    display: flex;
    justify-content: space-around;
    font-family: "Noto Serif KR", serif;
    font-size: 24px;
    font-weight: 500;
    color: #63543d;
    border-bottom: 2px solid #c9c5ba;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#ethics .tabs li {
    cursor: pointer;
}


.tab_content {
    display: flex;
}



#ethics .img_box {
    width: 45%;
}

#ethics .img_box img {
    width: 100%;
}

#ethics .img_box img:last-child {
    display: none;
}


#ethics .text_box {
    width: 55%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background-color: #939580;
    word-break: keep-all;
}

#ethics h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    color: #edd896;
}

#ethics .text_box p {
    color: #f7f3ed;
}



/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    #ethics .tabs {
        font-size: 20px;
    }

    #ethics .text_box p {
        font-size: 15px;
    }

    #ethics h1 {
        padding-bottom: 10px;
        font-size: 25px;
    }
}

/*태블릿 끝 */


@media (max-width:749px) {
    #ethics .tabs {
        font-size: 18px;
    }

    .tab_content {
        display: flex;
        flex-wrap: wrap;
    }

    #ethics .img_box {
        width: 100%;
    }

    #ethics .img_box img:first-child {
        display: none;
    }

    #ethics .img_box img:last-child {
        display: block;
    }

    #ethics .text_box {
        width: 100%;
        padding: 20px 5px;
        justify-content: center;
        text-align: center;
    }

    #ethics h1 {
        padding-bottom: 15px;
        font-size: 23px;
    }

    #ethics .text_box p {
        font-size: 15px;
    }


}

/*모바일 끝 */


/* category */
#category {
    height: 20%;
    background-color: #c9c5ba;
    margin-top: 130px;
}

.title {
    font-size: 26px;
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
}


.card {
    width: 1320px;
    padding-bottom: 50px;
}

.card .swiper-slide {
    width: 200px;
    text-align: center;
}

.card .img_box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 50%;
}

.card .swiper-slide p {
    text-align: center;
    padding-top: 20px;
    font-family: "century-gothic", "Noto Sans KR";
}


.card .swiper-button-prev {
    left: -50px;
    right: auto;
}

.card .swiper-button-next {
    right: -50px;
    left: auto;
}


/*불릿모양. swiper-pagination-bullet-active 클래스가 현재 색상이 들어간 부분 나타냄*/
/* .card .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 4px;
    background-color: #fff;
}
 */

.card .swiper-scrollbar {
    width: 50%;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.card .swiper-scrollbar-drag {
    background-color: #939580;
}

/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    .card {
        width: 90%;
    }

    .card .img_box {
        width: 130px;
        height: 130px;
    }

    .card .img_box img {
        transform: scale(0.7);
    }

}

/*태블릿 끝 */


@media (max-width:749px) {
    .card {
        width: 100%;
    }

    .card .img_box {
        width: 120px;
        height: 120px;
    }

    .card .img_box img {
        transform: scale(0.7);
    }

    .card .swiper-slide p {
        padding-top: 10px;
    }
}

/*모바일 끝 */


/* products */
#products {
    text-align: center;
    padding-bottom: 120px;
    overflow: hidden;
}

.products_inner {
    width: 1320px;
    margin: 0 auto;
}

#products .title {
    /* ::after */
    position: relative;
    padding-top: 150px;
    padding-bottom: 40px;
}

#products .sub_title {
    word-break: keep-all;
    padding-bottom: 50px;
}

#products .title::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 20px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #c9c5ba;

}

#products .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#products .img_box img:last-child {
    display: none;
}

#products .name {
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;

}

#products .about {
    font-size: 15px;
    padding-bottom: 10px;

}

#products .price {
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;

}


/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    #products {
        padding-bottom: 100px;
    }

    .products_inner {
        width: 95%;
        margin: 0 auto;
    }

    #products .title {
        padding-top: 120px;
    }

    #products .wrapper {
        justify-content: space-between;
    }

    #products .list {
        width: 48%;
    }

    #products img {
        width: 100%;
    }

    #products .img_box img:first-child {
        display: none;
    }

    #products .img_box img:last-child {
        display: block;
    }

}

/*태블릿 끝 */


@media (max-width:749px) {
    #products {
        padding-bottom: 80px;
    }

    .products_inner {
        width: 95%;
        margin: 0 auto;
    }

    #products .title {
        padding-top: 100px;
    }

    #products .list {
        width: 96%;
    }

    #products img {
        width: 100%;
    }

    #products .img_box img:first-child {
        display: none;
    }

    #products .img_box img:last-child {
        display: block;
    }

    #products .name {
        font-size: 18px;
    }

    #products .price {
        font-size: 18px;
    }
}

/*모바일 끝 */



/* customize */

#customize {
    display: flex;
}

#customize .text_box {
    display: flex;
    justify-content: right;
    width: 47%;
    background-color: #c4a380;
}

#customize .text_box .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

#customize .text_box h1 {
    font-family: "century-gothic", "Noto Sans KR";
    color: #f7f3ed;
    font-weight: normal;
    font-style: italic;
    font-size: 44px;
    padding-bottom: 15px
}

#customize .text_box .text p {
    font-size: 15px;
    color: #3f311e;
    font-weight: 500;

}

#customize .text_box h2 {
    font-family: "Noto Serif KR", serif;
    font-size: 22px;
    font-weight: 500;
    color: #f7f3ed;
    padding: 10px 0;
    padding-bottom: 20px;
}

#customize ul li {
    font-size: 15px;
    color: #865847;
    font-weight: 500;
    padding-bottom: 5px;
}

#customize ul li span {
    font-size: 12px;
}

#customize .btn {
    font-size: 15px;
    color: #f7f3ed;
    line-height: 1.2;
}

#customize .btn::after {
    content: " ";
    display: inline-block;
    width: 172px;
    height: 10px;
    background: url(../images/btn_arrow.png) no-repeat left top;
}


#customize .img_box {
    width: 53%;
}

#customize .img_box img {
    max-width: 100%;
}

#customize .break {
    display: none;
}



/* 미디어쿼리 */
@media (min-width:1000px) and (max-width:1320px) {
    #customize .text_box {
        width: 40%;
    }

    #customize .img_box {
        width: 60%;
    }


    #customize .text_box h1 {
        font-size: 35px;
        line-height: 1.2;
        padding-bottom: 10px
    }

    #customize .text_box h2 {
        font-size: 19px;
        padding: 10px 0;
        padding-bottom: 15px;
    }
}

/*태블릿1 끝 */

@media (min-width:750px) and (max-width:999px) {

    #customize .text_box {
        width: 40%;
        justify-content: left;

    }

    #customize .text_box .wrapper {
        width: 100%;
        padding: 5% 10% 2%;
    }

    #customize .img_box {
        width: 60%;
        background: url(../images/customize_bg.jpg) no-repeat 20% top;
        background-size: cover;
    }

    #customize .img_box img {
        display: none;
    }


    #customize .text_box h1 {
        font-size: 35px;
        line-height: 1.2;
        padding-bottom: 10px
    }

    #customize .text_box h2 {
        font-size: 19px;
        padding: 10px 0;
    }

    #customize ul li span {
        display: none;
    }

    #customize .break {
        display: block;
    }

    #customize .btn {
        text-align: right;
    }


}

/*태블릿2 끝 */

@media (max-width:749px) {

    #customize .text_box {
        width: 100%;
        justify-content: left;
        background: url(../images/customize_bg.jpg) no-repeat 30% 80%;

    }

    #customize .text_box .wrapper {
        width: 100%;
        padding: 5% 10% 2%;
        background: linear-gradient(to right, rgba(196, 163, 128, 1) 0%, rgba(196, 163, 128, 0.5) 40%, rgba(196, 163, 128, 0) 100%);
    }

    #customize .img_box {
        display: none;
    }

    #customize .text_box h1 {
        font-size: 30px;
        line-height: 1.2;
        padding-bottom: 5px;
        color: #3f311e;
    }

    #customize .text_box .text p {
        font-size: 14px;
    }

    #customize .text_box h2 {
        font-size: 17px;
        padding: 10px 0;
        color: #f7f3ed;
    }

    #customize ul li {
        font-size: 14px;
    }

    #customize ul li span {
        display: none;
    }


    #customize .break {
        display: block;
    }

    #customize .btn {
        text-align: right;
        color: #865847;
        font-size: 14px;
        font-weight: 500;
    }



}

/*모바일 끝 */

/* inspiration */

#inspiration {
    width: 100%;
    background: url(../images/inspiration_bg.jpg) repeat-x bottom;
}

#inspiration ul.inner {
    max-width: 1000px;
    margin: 0 auto;
}

#inspiration #video_box {
    width: 100%;
}

#inspiration .title {
    text-align: left;
    padding-top: 130px;
    padding-bottom: 10px;
    font-weight: 600;
}


#inspiration ul li.sub_title {
    padding-bottom: 50px;
    font-size: 15px;
    color: #63543d;
    font-weight: 500;
}

#inspiration ul li:nth-child(4) {
    font-family: "Noto Serif KR", serif;
    text-align: center;
    padding: 70px 0;
    font-size: 17px;
    font-weight: 500;
    color: #edd896;
    line-height: 1.7;
}

#inspiration ul li:nth-child(4) b {
    font-size: 20px;
}


#inspiration #video_box iframe {
    max-width: 1000px;
    max-height: 562.5px;
}

#inspiration .break {
    display: none;
}

@media (min-width:750px) and (max-width:1319px) {
    #inspiration .inner {
        width: 70%;
        margin: 0 auto;
    }

    #inspiration #video_box {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
    }

    #inspiration #video_box iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* 태블릿 끝 */


@media (max-width:749px) {
    #inspiration {
        width: 100%;
        background-size: auto 50%;
    }

    #inspiration .title {
        text-align: center;
    }

    #inspiration ul li.sub_title {
        text-align: center;
    }

    #inspiration #video_box {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
    }

    #inspiration #video_box iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #inspiration .break {
        display: block;
    }
}

/* 모바일 끝 */




/* art */
#art {
    max-width: 1320px;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}

#art .title {
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #63543d;
    padding-top: 10px;
    padding-bottom: 55px;
}


.slide_art {
    width: 100%;
}

.slide_art .swiper-wrapper {
    transition-timing-function: linear;
}


.slide_art .swiper-slide img {
    width: 100%;
}

#art .swiper-button-next {
    width: 35px;
    height: 40px;
    right: 0;
    color: #f7f3ed;
}



#art .swiper-button-prev {
    width: 35px;
    height: 40px;
    left: 0;
    color: #f7f3ed;
}

#art .swiper-button-next::after {
    content: url(../images/btn_next.png);
}

#art .swiper-button-prev::after {
    content: url(../images/btn_prev.png);
}




/* 슬라이드 ~529 등속 해제 */
@media (max-width:529px) {
    .slide_art .swiper-wrapper {
        transition-timing-function: ease;
    }
}

/* footer */
footer {
    background-color: #474d36;
}

.footer_inner {
    max-width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;

}

.footer_1 {
    /* ::after */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 25px;
    border-bottom: 1px solid #c9c5ba;
}

.footer_1 .footer_logo {
    display: flex;
    align-items: center;
}

.footer_1 .footer_logo li:first-child {
    padding-right: 20px;
}


.footer_1 .sns {
    display: flex;
    align-items: center;
}


.footer_1 .sns li {
    padding-left: 30px;
}

.footer_1 .sns li a {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer_2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: #c9c5ba;
    font-size: 14px;
    font-weight: bold;
}


.footer_2 ul {
    display: flex;
    padding-bottom: 10px;
}

.footer_2 ul li {
    padding-right: 15px;
}


.footer_2 .info div {
    display: flex;
}

.footer_2 .info dd {
    font-weight: normal;
    padding-left: 10px;
}

.footer_2 ol {
    color: #edd896;
    font-weight: 500;
    font-size: 14px;
}

.footer_2 ol li {
    padding-bottom: 5px;
    text-align: right;
}


.copyright {
    color: #c9c5ba;
    text-align: center;
    font-size: 14px;
    color: #939580;
    font-weight: bold;
    font-family: "Noto Serif KR", serif;
    padding: 20px 0;

}

/* 미디어쿼리 */
@media (min-width:750px) and (max-width:1319px) {
    .footer_inner {
        width: 95%;
    }
}

/*태블릿 끝 */


@media (max-width:749px) {
    .footer_inner {
        width: 95%;
    }

    .footer_1 {
        flex-wrap: wrap;
        border-bottom: none;
        padding-bottom: 20px;
    }

    .footer_1 .footer_logo {
        width: 100%;
        order: 2;
        justify-content: center;
    }

    .footer_1 .sns {
        width: 100%;
        order: 1;
        padding-bottom: 30px;
        margin-bottom: 30px;
        justify-content: center;
        border-bottom: 1px solid #c9c5ba;

    }

    .footer_1 .sns li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer_2 {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
    }

    .footer_2 .wrapper {
        width: 100%;
        order: 2;
    }

    .footer_2 .info {
        width: 100%;
        order: 1;
    }

    .footer_2 ol {
        display: flex;
    }

    .footer_2 ol li {
        padding: 0 10px;
        font-size: 15px;
        white-space: nowrap;

    }

    .footer_2 ul {
        padding-top: 30px;
        font-size: 13px;
    }

    .footer_2 dl {
        font-size: 13px;
        white-space: nowrap;
        word-break: keep-all;

    }

    .footer_2 ol {
        font-size: 13px;
    }

    .footer_2 .info dd {
        padding-bottom: 3px;
    }


    /*모바일 끝 */





    /* 미디어쿼리 */
    @media (min-width:750px) and (max-width:1319px) {}

    /*태블릿 끝 */


    @media (max-width:749px) {}

    /*모바일 끝 */


    /* ex 모바일 ~749
    테블릿 750~1319
     pc 1320~ */





    /*
노란색
#edd896

미색
#f7f3ed

카키
#474d36

연카키
#939580

그레이
#c9c5ba

오렌지
#c4a380

레드브라운
#865847

브라운
#3f311e

  */

    /*
노토산스 
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal(400);
  Medium 500
  SemiBold 600
  Bold 700
}

노토세리프
.noto-serif-kr-<uniquifier> {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

센트리 고딕
font-family: "century-gothic", "Noto Sans KR";
font-weight: 400,700;
font-style: normal, italic;
 */

    /* 
섹션별 미디어쿼리
기본 749/750~1319/1320
ethics  899/900~1319
custom 749/750~999/1000~1320
art ~529(등속해제)
*/